<div class="side-header">
  <div class="current-user">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-btn">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="chat-rooms">
  <div class="chat-room">
    <a href="#">chat-room1</a>
  </div>
  <div class="chat-room">
    <a href="#">chat-room2</a>
  </div>
  <div class="chat-room">
    <a href="#">chat-room3</a>
  </div>
  <div class="chat-room">
    <a href="#">chat-room4</a>
  </div>
  <div class="chat-room">
    <a href="#">chat-room5</a>
  </div>
  <div class="chat-room">
    <a href="#">chat-room6</a>
  </div>
  <div class="chat-room">
    <a href="#">chat-room7</a>
  </div>
  <div class="chat-room">
    <a href="#">chat-room8</a>
  </div>
</div>